/* index.html  */

.index
{
  margin: 10px;
  background-color: rgb(179, 174, 174);
}

.titulo
{
  padding-left: 20px;
  font-size: 40px;
  padding: 10px;
}

.centralizar
{
  text-align: center;
  font-size: 23px;
}

#banner
{
 /* height: 450px;  ajustar a altura do elemento */ 
  width: 100%;   /* ajustar a largura do elemento */ 
}

.d1
{
  background-color: #dee7de;
  margin-top	: 10px;
  padding: 20px;
  font-size: 19px;
}

.d2
{
  background-color: rgb(216, 203, 203);
  padding: 1px;
  margin-top: 10px;
}

.bene
{
  font-style: italic;
  font-size: 24px;
  padding-left: 43px;
  margin-top: 12px;
}

.beneficios
{
  font-style: italic;
  font-size: 24px;
  padding-left: 35px;
}

.ueli
{
  display: inline-block;
  vertical-align: top;
  width: 29%;
  height: 19%;
  padding: 17px;
  margin-top: 10px;
}

.imagem
{
  width: 30%;
  padding-left: 85px;
}

/* produtos.html */

.pro
{
  background-color: #BBBBBB;
  padding: 20px 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover
{
  color: #C78C19;
  text-decoration: underline;
}

.lista1
{
  position: absolute;
  top: 110px;
  right: 0;
  width: 37%;
  height: 10%;
  left: 608px;
}

.caixa
{
  position: relative;
  width: 980px;
  margin: 0 auto;
}

.dutos
{
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.dutos li
{
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
}

.dutos li:hover
{
  border-color: #C78C19;
}

.dutos li:active 
{
  border-color: #088C19;
}

.dutos h2
{
  font-size: 30px;
  font-weight: bold;
}

.dutos li:hover h2 
{
  font-size: 34px;
}

.produto-descricao
{
  font-size: 18px;
}

.produto-preco
{
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

 /* Rodapé   */

footer
{
  text-align: center;
  background: url("bg.jpg");
  padding: 40px 0;
}

.copy
{
  color: #FFFFFF;
  font-size: 13px;
  margin-top: 20px;
}