.banner__titulo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fdfdfd;
    position: absolute;
    left: 50%;
    text-shadow: 0 4px rgb(0, 0, 0, 0,75);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

@media screen and (min-width: 0) {
    .banner__titulo {
        font-size: 3rem;
    }
}

@media screen and (min-width: 768px) {
    .banner__titulo {
        font-size: 5.8625rem;
    }
}