body{
    background-color: beige;
}

.cabecalhoPrincipal{
    margin-left: 60px;
    margin-right: 60px;
    background-color: white;
}

.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

.cabecalhoPrincipal-nav{
    display: flex;
    justify-content: space-between;
}

.cabecalhoPrincipal .cabecalhoPrincipal-titulo{
    margin-bottom: 0px;
    margin-left: -12px;
}

.cabecalhoPrincipal-titulo{
    margin-top: 3px;
    padding: 10px;
}

.cabecalhoPrincipal .cabecalhoPrincipal-nav-link {
    color: black;
    border: 1px solid rgb(177, 136, 136);
    border-radius: 5px;
    margin: 5px;
    padding: 6px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
}

.cabecalhoPrincipal-nav-link:hover{
    background-color: rgb(184, 203, 203);
    color: white;
}

.cabecalhoPrincipal-nav .cabecalhoPrincipal-nav-link{
   padding-left: 13px;
}

main{
    background-color: white;
}

main h1{
    margin-bottom: 0px;
    margin-left: -12px;
}

a {
    text-decoration: none;
    color: black;
}

.conteudoPrincipal-cursos-link {
	height: 100px;
	background-color: #FFF;
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
    width: 20%;
}

.conteudoPrincipal-cursos-link a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.conteudoPrincipal-cursos-link:hover {
	box-shadow: 4px 4px 4px #CCC;
}

.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}

li { 
    list-style-type: none; 
}

.conteudoPrincipal-cursos-link a:before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	margin: 10px auto;
}

.subtitulo {
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 10px;
	text-align: center;
}

.container {
	width: 94%;
	margin: 0 auto;
}

.conteudoPrincipal {
	margin-top: 20px;
	margin-bottom: 20px;
}

.conteudoPrincipal-cursos-link:nth-child(even) a:before {
	background: url(./img/background1.svg) no-repeat;	
}

.conteudoPrincipal-cursos-link:nth-child(odd) a:before {
	background: url(./img/background2.svg) no-repeat;
}

.mapaCursos {
    background-color: rgb(28, 28, 60);
    flex-flow: column wrap;
    height: 300px;
    display: flex;
    text-align: center;
}

.mapa{
    background-color: rgb(28, 28, 60);
}

.titulo-mapaCursos{
    color: white;
    display: block;
    text-align: center;
    padding-top: 15px;
}

.mapaCursos h2 , p{
    color: white;
    margin-top: -2px;
}     

.mapaCursos .back {
    color: rgb(47, 207, 47);
}

.mapaCursos .front {
    color: rgb(67, 67, 210);
}

.mapaCursos .frame {
    color: rgb(173, 80, 217);
}

.mapaCursos .bd {
    color: rgb(198, 55, 55);
}

.rodapePrincipal {
    display: flex;
    justify-content: space-around;
    background-color: #CCC;
   padding: 25px;
}

.rodapePrincipal p{
    font-size: 27px;
    font-weight: bold;
    color: black;
    margin-top: 15px;
}

.rodapeContato{
    margin-top: 5px;
    height: 40px;
}

.rodapeContato p{
    margin-top: 2px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
}

.rodapeContato input{
    margin-top: -2px;
    width: 200px;
    height: 30px;
}

.rodapeContato button{
    width: 100px;
    height: 36px;
}

section{
    display: flex;
    margin: auto;
    height: auto;
    background-color: rgb(149, 149, 251);
    text-align: center;
    width: 100%;
    justify-content: center;   
}

section li{
    margin-top: 20px;
}

iframe{
    flex-shrink: 2;
}

.cadastro{
   display: flex;
   border-radius: 10px;
   flex-direction: column;
   width: 140px;
   height: 30px;
   background-color: orange;
   color: white;
   flex-grow: 2;
   cursor: pointer;
   margin-top: 40px;
   padding: 5px;
}

.cadastro p{
    margin: 0 auto;
    font-size: 17px;
    font-weight: bold;
}

section button{
    margin: 0 auto;
}

.rodapeContato button{
    border-radius: 4px;
    background-color: rgb(83, 223, 111);
    color: black;
    font-size: 15px;
    cursor: pointer;
}

/* Mobile */

@media(max-width: 768px){

.cabecalhoPrincipal-nav{
    flex-direction: column;
}

.cabecalhoPrincipal .container{
   flex-direction: column;
   align-items: initial;
   text-align: center;
} 

.conteudoPrincipal-cursos-link{
    width: 100%;
}

.conteudoPrincipal-cursos{
    flex-direction: column;
    text-align: center;
}

.mapaCursos {
    height: auto;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.titulo-mapaCursos{
   text-align: center;
}

.rodapePrincipal{
    flex-direction: column;
    align-items: center;
}

.rodapeContato{
    align-items: center;
}

.cabecalhoPrincipal-nav-link-app{
    order: -1;
}

section{
    flex-direction: column;
}

iframe{
    margin: 0 auto;
}

}